.nav-bar-top {
  height: 60px;
  background: rgba(250, 250, 250, 0.9);
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;

}

.avatar {
  background: rgba(190, 90, 90, 1);
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.nav-bar-right {
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: space-between;
}

.user-courses-link {
  margin-right: 10px;
  font: 15px helvetica ;
  color: rgba(0, 0, 0, 0.6);
}

.cart {
  font-size: 30px;
  color: #0065B0;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cart:hover {
  color: white;
  background: #0065B0;
}
