.nav-bar-top {
  height: 60px;
  background: rgba(250, 250, 250, 0.9);
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

.avatar {
  background: rgba(190, 90, 90, 1);
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.nav-bar-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-courses-link {
  margin-right: 10px;
  font: 15px helvetica ;
  color: rgba(0, 0, 0, 0.6);
}
