@keyframes sweep {
  0% {transform: translateX(0px);}
  25% {transform: translateX(-150px);}
  /*50% {transform: translateX(0px);}*/
  75% {transform: translateX(150px);}
  100% {transform: translateX(0px);}
}

.search-filter-bar-container {
  display: flex;
  justify-content: center;
}

.shop-search-result-list-container {
  display: block;
}

.shop-search-result-list-wrapper {
  padding-left: 50px;
  padding-right: 50px;
  margin-left: 200px;
  margin-right: 200px;
}

.experience-cart {
  font-size: 40px;
  animation-name: sweep;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
