.merch-course-page {
  font-family: helvetica;
}

.merch-course-page-body {
  display: flex;
  justify-content: space-between;
}

.merch-course-page-body-left {
  padding: 20px;
  max-width: 500px;
  color: rgba(0, 0, 0, 0.8);
}

.merch-course-page-body-right {
  padding: 20px;
  width: 50%;
  list-style-type: none;
  color: rgba(0, 0, 0, 0.8);
}

.course-structure-container {
  background: rgba(230, 230, 230, 0.4);
  border: 1px solid rgba(200, 200, 200, 0.9);
  padding: 30px;
}

ul {
  list-style-type: none;
}

.course-structure-bullet {
  color: #0065B0;
  opacity: 0.7
}

.course-structure-item-detail {
  margin-left: 10px;
  margin-bottom: 10px;
  color: rgba(10, 10, 10, 0.8);
  transition: 0.5s;
  cursor: pointer;
}

.course-structure-item {
  margin-bottom: 10px;
}

.course-structure-item-detail:hover {
  color: rgba(10, 10, 10, 1)
}
