@keyframes lift {
  0%    {transform: translate(0px, 0px);}
  100%  {transform: translate(2px, -5px);}
}

.wrapper-light-grey {
  background: rgba(250, 250, 250, 1);
  padding:10px;
}
.value-proposition {
  margin-bottom: 10px;
  font-size: 20px;
  margin-bottom: 30px;
}

.value-proposition span {
  display: inline-block;
}

.search-bar {
  width: 400px;
  height: 43px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.7);
  padding: 10px;
}

.search-result-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  padding: 30px;
}

.search-result-container-wrapper {
  padding: 10px;
  width: 100%;


/*  display: flex;
  justify-content: center;*/
}

.search-result-item-container {

  display: flex;
  justify-content: center;
  align-items: center;
}

.search-result-filter-bar-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.raise {
  animation-name: lift;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 2s;
}
