.institution-card {
  height: 290px;
  width: 210px;
  background: rgba(250, 250, 250, 1);
  position: relative;
  font-family: helvetica;
  font-size: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  color: rgba(20, 20, 20, 1);
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.institution-card h3 {
  color: rgba(20, 20, 20, 0.8);
}

.institution-name-text {
  color: rgba(20, 20, 20, 0.7);
}

.institution-card:hover {
  box-shadow:  3px 3px 10px rgba(0, 0, 0, 0.4);
}

.author-text {
  font-weight: 400;
  font-size: 11px;
  color: rgba(40, 40, 40, 0.7);
}

.institution-card-head {
  height: 40%;
  /*background: rgba(174, 129, 255, 1);*/
  transition: 0.5s;

  background-size: 200% auto;
  background-position: left center;
  transition: 1s;

}

.institution-card-head:hover {
  background-position: right center;

}



.institution-card-body {
  background: rgba(250, 250, 250, 1);

}

.institution-card-body-merchandising {

  background: rgba(250, 250, 250, 1);
  padding: 10px;
}
.institution-card-name {
  transition: 0.5s;
}



.institution-card-rating {
  display: flex;
  height:20px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.checked {
  color: orange;
}

.rating {
  font-size: 12px;
  margin-right: 3px;
  color: rgba(0, 0, 0, 0.5);
}
